.vscode/
.idea/
.DS_Store
/texput.log
cmake-build-*
INSTALL
cmake-build*
build
docs/build
*.tar.gz
*.zip
# some files in libxml2/test were breaking git. They are not essential and are ignored
third_party/libxml2/test 
__pycache__
*.exe
*.so
*.dylib
autom4te.cache
*.Po
*.Plo
build-linux
build-windows
build-macos
.deps
dist
pysemsim.egg-info
docs/cpp
install-ubuntu