.vscode/
.idea/
.DS_Store
/texput.log
cmake-build-*
INSTALL
install
install*
cmake-build*
build*
build-linux
build-windows
build-macos*.tar.gz
*.zip
# some files in libxml2/test were breaking git. They are not essential and are ignored
third_party/libxml2/test 
__pycache__
*.exe
*.so
*.dylib
autom4te.cache
*.Po
*.Plo
install-linux

.deps
dist
pyomexmeta.egg-info
install-ubuntu
brenda_parameters_1.xml
third_party/curl-7.69.1/docs
*.lib
*.dll
*.so*
*.db

# no omex files in repository please
*.omex



ExtraSearchDirectories.txt




